<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>ipmiutil version check</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<table class='table-sm table-hover table-bordered'>
	<tr><th>日付</th><th>開発者</th><th>バージョン</th><th>間隔</th><th>経過日数</th></tr>
	% for i, version in enumerate(versions):
	<tr><td>{{ version['date'] }}</td><td>{{ version['author'] }}</td><td>{{ version['version'] }}</td><td align='right'>{{ version['diff'] }}</td><td align='right'>{{ version['ago'] }}
	% if i == 0 and version['ago'] < 30:
	<img src="http://sozai.akuseru-design.com/img_new/new025/new025_06.gif">
	% end
	</td></tr>
	% end
</table>
</div>
</body></html>
