<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="static/css/hatena.css">
		<title>映画鑑賞情報</title>
	</head>

	<body>
		<h1>タイトル追加</h1>

		<div class=hatena-body>
		<div class=main>
		<div class=day>

		<form action="add_title2" method="POST">
		公開年：<input type="text" name="release_year"><br>

		洋画／邦画：
		<input type="radio" name="youga_houga" value="youga" checked>洋画
		<input type="radio" name="youga_houga" value="houga">邦画<br>

		タイトル：<input type="text" name="title"><br>

		<input type="submit" value="更新">
		</form>

		</div>
		</div>
		</div>

	</body>
</html>
