<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="static/css/hatena.css">
		<title>映画鑑賞情報</title>
	</head>

	<body>
		<h1>タイトル編集完了</h1>

		<div class=hatena-body>
		<div class=main>
		<div class=day>

		更新しました。<br>
		ID：{{ id }}<br>
		公開年：{{ release_year }}<br>
		洋画／邦画：{{ youga_houga }}<br>
		鑑賞方法：{{ acquisition_type }}<br>
		鑑賞日：{{ watch_date }}<br>
		タイトル：{{ title }}<br>
		鑑賞対象：{{ target }}<br>

		</div>
		</div>
		</div>

	</body>
</html>
