<html>
	<head>
		<meta charset='UTF-8' />
		<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
		<script src='http://code.highcharts.com/highcharts.js'></script>
		<link rel="stylesheet" type="text/css" href="static/css/hatena.css">
		<title>映画鑑賞情報</title>
	</head>

	<body>
		<h3>映画鑑賞情報</h3>
		<div id='monthly_graph' style='width: 1200px; height: 500px;'></div>
		<script>
		$(document).ready(function()
		{
			$('#monthly_graph').highcharts(
			{
				chart : {type: 'column'},
				title : {text: '{{ title }}'},
				xAxis : {categories: {{ !x_labels }}, title: {text: null}},
				yAxis : { min: 0, title: {text: '件数'}, labels: {overflow: 'justify'}},
				series : {{ !count }},
				legend: {reversed:true},
				plotOptions : {bar: {dataLabels: {enabled: true}},series: {stacking: 'normal'}},
				credits : {enabled: false}
			});
		});
		</script>

		<div class=hatena-body>
		<div class=main>
		<div class=day>

		<table>
		<tr>
		<th>分類</th>
		<th>本数</th>
		<th>割合</th>
		</tr>
		% for key, value in sum.items():
		<tr>
		<td>{{ key }}</td>
		<td>{{ value['count'] }}</td>
		<td>{{ value['ratio'] }}%</td>
		</tr>
		% end
		</table>

		</div>
		</div>
		</div>

	</body>
</html>
