<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="static/css/hatena.css">
		<title>映画鑑賞情報</title>
	</head>

	<body>
		<h1>映画鑑賞情報</h1>

		<div class=hatena-body>
		<div class=main>
		<div class=day>

		<ul>
		<li><a href="add_title">タイトル追加</a>
		</ul>

		<ul>
		<li><a href="targetlist">鑑賞予定タイトル一覧</a>
		<li><a href="unwatchedlist">未鑑賞タイトル一覧</a>
		<li><a href="watchedlist">鑑賞済みタイトル一覧</a>
		<li><a href="scatter">鑑賞日と作品年代の散布図</a>
		<li><a href="balance_graph">鑑賞数と追加タイトル数グラフ</a>
		<li>年ごと鑑賞数グラフ表示
		<ul>
		<li><a href="annual_graph_all">分類なし</a>
		<li><a href="annual_graph_by_category">洋画／邦画</a>
		<li><a href="annual_graph_by_acquisition_type">鑑賞方法</a>
		<li><a href="annual_graph_by_chrome_type">モノクロ／カラー</a>
		</ul>
		<li>月ごと鑑賞数グラフ表示
		<ul>
		<li><a href="monthly_graph_all">分類なし</a>
		<li><a href="monthly_graph_by_category">洋画／邦画</a>
		<li><a href="monthly_graph_by_acquisition_type">鑑賞方法</a>
		<li><a href="monthly_graph_by_chrome_type">モノクロ／カラー</a>
		</ul>
		</ul>

		</div>
		</div>
		</div>

	</body>
</html>
