<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="static/css/hatena.css">
		<title>映画視聴情報</title>
	</head>

	<body>
		<h1>映画視聴情報</h1>

		<div class=hatena-body>
		<div class=main>
		<div class=day>

		<ul>
		<li><a href="unwatchedlist">未鑑賞タイトル一覧表示</a>
		<li><a href="titlelist">鑑賞済みタイトル一覧表示</a>
		<li>年ごと視聴数グラフ表示
		<ul>
		<li><a href="annual_graph_all">分類なし</a>
		</ul>
		<li>月ごと視聴数グラフ表示
		<ul>
		<li><a href="monthly_graph_all">分類なし</a>
		<li><a href="monthly_graph_by_category">洋画／邦画</a>
		<li><a href="monthly_graph_by_acquisition_type">視聴方法</a>
		<li><a href="monthly_graph_by_chrome_type">モノクロ／カラー</a>
		</ul>
		</ul>

		</div>
		</div>
		</div>

	</body>
</html>
