<html>
	<head>
		<meta charset='UTF-8' />
		<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
		<script src='http://code.highcharts.com/highcharts.js'></script>
		<title>映画鑑賞情報</title>
	</head>

	<body>
		<h3>映画鑑賞情報</h3>
		<div id='scatter' style='width: 1200px; height: 500px;'></div>
		<script>
		function dateFormat(date)
		{
			var y = date.getFullYear();
			var m = date.getMonth() + 1;
			var d = date.getDate();

			if (m < 10)
			{
				m = '0' + m;
			}
			if (d < 10)
			{
				d = '0' + d;
			}

			return y + '/' + m + '/' + d;
		}

		$(document).ready(function()
		{
			$('#scatter').highcharts(
			{
				chart : {type: 'scatter', zoomType:'xy', plotBackgroundColor: 'lightgray'},
				title : {text: '鑑賞作品年代散布図'},
				xAxis : {title: '鑑賞時期', type: 'datetime'},
				yAxis : {title: '作品公開時期', type: 'datetime'},
				tooltip: { formatter: function () { return '<b>' + this.point.name + '</b><br/>' + dateFormat(new Date(this.point.x));}},
				series : {{ !scatter }}
			});
		});
		</script>
	</body>
</html>
