<html>
<head>
<title>映画鑑賞情報</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="static/css/hatena.css">
</head>
<body>
	<h1>映画鑑賞情報 - タイトル一覧</h1>

	<div class=hatena-body>
	<div class=main>
	<div class=day>

	<br>

	<table>
	<tr><td>全部</td><td align='right'>{{ count['total'] }}</td></tr>
	<tr><td>鑑賞対象</td><td align='right'>{{ count['target'] }}</td></tr>
	</table>

	<br>

	<table>
		<tr><th>年</th><th>洋／邦</th><th>タイトル</th><th>鑑賞対象</th><th>登録日</th><th>操作</th></tr>
		% for title in movielist:
			<tr>
				<td>{{ title['release_year'] }}</td>
				<td>{{ title['youga_houga'] }}</td>
				<td>{{ title['title'] }}</td>
				<td style='text-align:center;'>
				% if title['target'] == 1:
				〇
				% end
				</td>
				<td>{{ title['insert_date'] }}</td>
				<td>
				<form action="edittitle" method="POST">
				<input type="hidden" name="id" value="{{ title['id'] }}">
				<input type="hidden" name="release_year" value="{{ title['release_year'] }}">
				<input type="hidden" name="chrome_type" value="{{ title['chrome_type'] }}">
				<input type="hidden" name="youga_houga" value="{{ title['youga_houga'] }}">
				<input type="hidden" name="acquisition_type" value="{{ title['acquisition_type'] }}">
				<input type="hidden" name="title" value="{{ title['title'] }}">
				<input type="hidden" name="target" value="{{ title['target'] }}">
				<input type="submit" value="編集">
				</form>
				</td>
			</tr>
		% end
	</table>

	</div>
	</div>
	</div>

</body>
</html>
