<html>
<head>
<title>movie list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="static/css/hatena.css">
</head>
<body>
	<h1>映画視聴情報 - タイトル一覧</h1>

	<div class=hatena-body>
	<div class=main>
	<div class=day>

	<br>

	<table>
		<tr><th>年</th><th>洋／邦</th><th>タイトル</th><th>鑑賞対象</th><th>操作</th></tr>
		% for title in movielist:
			<tr>
				<td>{{ title['release_year'] }}</td>
				<td>{{ title['youga_houga'] }}</td>
				<td>{{ title['title'] }}</td>
				<td>{{ title['target'] }}</td>
				<td>
				<form action="edittitle" method="POST">
				<input type="hidden" name="id" value="{{ title['id'] }}">
				<input type="hidden" name="release_year" value="{{ title['release_year'] }}">
				<input type="hidden" name="chrome_type" value="{{ title['chrome_type'] }}">
				<input type="hidden" name="youga_houga" value="{{ title['youga_houga'] }}">
				<input type="hidden" name="acquisition_type" value="{{ title['acquisition_type'] }}">
				<input type="hidden" name="title" value="{{ title['title'] }}">
				<input type="submit" value="編集">
				</form>
				</td>
			</tr>
		% end
	</table>

	<br>

	</div>
	</div>
	</div>

</body>
</html>
