<html>
	<head>
		<meta charset='UTF-8' />
		<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
		<script src='http://code.highcharts.com/highcharts.js'></script>
		<title>spam mail</title>
	</head>

	<body>
		<div id='daily_num_recent' style='width: 900px; height: 400px;'></div>
		<div id='daily_num' style='width: 900px; height: 400px;'></div>
		<div id='monthly_num' style='width: 900px; height: 400px;'></div>
		<div id='annually_num' style='width: 900px; height: 400px;'></div>
		<script>
		Highcharts.setOptions({
			global: {
				useUTC: false
			}
		});
		$(document).ready(function()
		{
			$('#daily_num_recent').highcharts(
			{
				chart : {type: 'column', zoomType:'xy', plotBackgroundColor: 'lightgray'},
				title : {text: '日ごと件数（直近10件）'},
				xAxis : {title: null, type: 'datetime'},
				yAxis : {title: {text: '件数'}},
				series : [{'name': '件数', 'data': {{ !daily_num_recent }} }]
			});
		});
		$(document).ready(function()
		{
			$('#daily_num').highcharts(
			{
				chart : {type: 'column', zoomType:'xy', plotBackgroundColor: 'lightgray'},
				title : {text: '日ごと件数'},
				xAxis : {title: null, type: 'datetime'},
				yAxis : {title: {text: '件数'}},
				series : [{'name': '件数', 'data': {{ !daily_num }} }]
			});
		});
		$(document).ready(function()
		{
			$('#monthly_num').highcharts(
			{
				chart : {type: 'column', plotBackgroundColor: 'lightgray'},
				title : {text: '月ごと件数'},
				xAxis : {title: null, categories: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'], crosshair: true},
				yAxis : {title: {text: '件数'}},
				series : {{ !monthly_num }}
			});
		});
		$(document).ready(function()
		{
			$('#annually_num').highcharts(
			{
				chart : {type: 'column', plotBackgroundColor: 'lightgray'},
				title : {text: '年ごと件数'},
				xAxis : {title: null, categories: {{ !annually_num_x }} },
				yAxis : {title: {text: '件数'}},
				series : [{name: '件数', data: {{ !annually_num_y }}}]
			});
		});
		</script>
	</body>
</html>
