<html>
	<head>
		<meta charset='UTF-8' />
		<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
		<script src='http://code.highcharts.com/highcharts.js'></script>
		<title>spam mail</title>
	</head>

	<body>
		<div id='daily_num' style='width: 900px; height: 500px;'></div>
		<script>
		$(document).ready(function()
		{
			$('#daily_num').highcharts(
			{
				chart : {type: 'column', plotBackgroundColor: 'lightgray'},
				title : {text: 'スパムメール件数'},
				xAxis : {title: null, type: 'datetime'},
				yAxis : {title: {text: '件数'}},
				series : [{'name': '件数', 'data': {{ !daily_num }} }]
			});
		});
		</script>
	</body>
</html>
