<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv=Content-Style-Type content=text/css>
    <link rel="stylesheet" type="text/css" href="hatena.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <title>おんどとり - 短期グラフ</title>
    </head>

    <body>
    <div id="chart_days" style="width:900px; height:400px; display:table;margin: 0 auto;"></div>
    <div id="chart_mean" style="width:900px; height:600px; margin: 0 auto;"></div>
    <script type="text/javascript">
    function draw()
    {
        new Highcharts.Chart(
        {
            chart: {renderTo: 'chart_days', zoomType:'xy', plotBackgroundColor: 'lightgray'},
            title: {text: '日ごとの変動 直近５日分'},
            xAxis: {title: 'Hour', tickInterval:1},
            yAxis: {title: {text:'℃'}},
            series: [ {{ !data_hours }} ]
        });
        new Highcharts.Chart(
        {
            time: { useUTC: false }, 
            chart: {renderTo: 'chart_mean', zoomType:'xy', plotBackgroundColor: 'lightgray'},
            title: {text: '日ごとの平均・最高・最低気温'},
            xAxis: {title: 'Date', type: 'datetime', dateTimeLabelFormats: { day: '%m/%d', week: '%m/%d', month: '%y/%m' }},
            yAxis: {title: {text:'℃'}},
            series: [ {name:'平均気温', type:'column', data:[{{ data_mean }}]}, {name:'最高気温', type:'line', data:[{{ data_max }}]}, {name:'最低気温', type:'line', data:[{{ data_min }}]} ]
        });
    };
    document.body.onload = draw();
    </script>
    <br>
    </body>
</html>
