<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	<meta name="viewport" content="width=device-width">
	<title>ハードオフ来店管理</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
	<div class='container'>
	<form action='store_edit2' method='POST'>
		<input type='hidden' name='store_id' value='{{ store_id }}'><br>
		店舗名：<input type='text' name='name' value='{{ name }}'><br>
		住所：<input type='text' name='address' value='{{ address }}' size='50'><br>
		最寄り駅：<input type='text' name='near_station' value='{{ near_station }}'><br>
		徒歩：<input type='text' name='minutes_from_near_station' value='{{ minutes_from_near_station }}'><br>
		来店日：<input type='text' name='visit_date' value='{{ visit_date }}'><br>
		ターゲット：
		% if targeting == 'target':
		<input type='checkbox' name='targeting' value='target' {{ 'checked=checked' }}><br>
		% else:
		<input type='checkbox' name='targeting' value='target'><br>
		% end
		<input type='submit' value='確定'>
	</form>
	<form action='store_visit_today' method='POST'>
		<input type='hidden' name='store_id' value='{{ store_id }}'><br>
		<input type='submit' value='本日来店'>
	</form>
	</div>
</body>
</html>
