<html>
	<head>
		<meta charset='UTF-8' />
		<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
		<script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
		<title>Virus</title>
	</head>

	<body>
		<div id='daily_num' style='width: 900px; height: 500px; margin: 0 auto;'></div>
		<div id='weekly_sum' style='width: 900px; height: 500px; margin: 0 auto;'></div>
		<div id='weekday_num' style='width: 900px; height: 500px; margin: 0 auto;'></div>
		% if False:
		<div id='weekly_num' style='width: 900px; height: 500px; margin: 0 auto;'></div>
		% end
		<script>
		$(document).ready(function()
		{
			$('#daily_num').highcharts(
			{
				chart : {type: 'column', zoomType:'xy', plotBackgroundColor: 'lightgray'},
				title : {text: '日本の日ごとの感染者数'},
				xAxis : {categories: {{ !daily_num_x }}, title: {text: null}, min:{{ len(daily_num_x)-50 }}, max: {{ len(daily_num_x)-1 }}, scrollbar: { enabled: true }},
				yAxis : {title: {text: '人数'}},
				series : [{'name': '日ごとの感染者数', 'data': {{ !daily_num_y }} }]
			});
		});
		$(document).ready(function()
		{
			$('#weekly_sum').highcharts(
			{
				chart : {type: 'column', plotBackgroundColor: 'lightgray'},
				title : {text: '週ごとの感染数合計'},
				xAxis : {categories: {{ !weekly_sum_x }}, title: {text: '週'}},
				yAxis : { title: {text: '人数'}},
				series : [{'name': '週ごとの感染数合計', 'data': {{ !weekly_sum_y }} }]
			});
		});
		$(document).ready(function()
		{
			$('#weekday_num').highcharts(
			{
				chart : {plotBackgroundColor: 'lightgray'},
				title : {text: '曜日ごとの感染数'},
				xAxis : {categories: {{ !weekday_date }}, title: {text: '週'}},
				yAxis : { title: {text: '人数'}},
				series : {{ !weekday_num }}
			});
		});
		% if False:
		$(document).ready(function()
		{
			$('#weekly_num').highcharts(
			{
				chart : {type: 'column', plotBackgroundColor: 'lightgray'},
				title : {text: '曜日ごとの感染数比'},
				xAxis : {categories: ['月曜', '火曜', '水曜', '木曜', '金曜', '土曜', '日曜'], title: {text: '曜日'}},
				yAxis : { title: {text: '比率(%)'}},
				series : {{ !weekly_num_y }}
			});
		});
		% end
		</script>
	</body>
</html>
