<html>
	<head>
		<meta charset='UTF-8' />
		<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
		<script src='http://code.highcharts.com/highcharts.js'></script>
		<title>corona</title>
	</head>

	<body>
		<div id='daily_num' style='width: 900px; height: 500px;'></div>
		<div id='weekly_num' style='width: 900px; height: 500px;'></div>
		<script>
		$(document).ready(function()
		{
			$('#daily_num').highcharts(
			{
				chart : {type: 'column'},
				title : {text: '日本の日ごとの感染数'},
				xAxis : {categories: {{ !daily_num_x }}, title: {text: null}},
				yAxis : { min: 0, title: {text: '人数', align: 'high'}, labels: {overflow: 'justify'}},
				series : [{'name': '日ごとの感染数', 'data': {{ !daily_num_y }} }]
			});
		});
		$(document).ready(function()
		{
			$('#weekly_num').highcharts(
			{
				chart : {type: 'column'},
				title : {text: '曜日ごとの感染数比'},
				xAxis : {categories: {{ !weekly_num_x }}, title: {text: '曜日'}},
				yAxis : { title: {text: '比率(%)'}},
				series : {{ !weekly_num_y }}
			});
		});
		</script>
	</body>
</html>
