<html>
	<head>
		<meta charset='UTF-8' />
		<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
		<script src='http://code.highcharts.com/highcharts.js'></script>
		<title>corona</title>
		<link rel="stylesheet" type="text/css" href="static/css/hatena.css">
	</head>

	<body>

	<div class=hatena-body>
	<div class=main>
	<div class=day>

	<ul>
		<li><a href="graph">グラフ</a>
		<li><a href="input">入力</a>
		<li><a href="update">更新</a>
	</ul>

	最新データ
	<table>
	<tr>
	<th>日</th>
	<th>人数</th>
	</tr>
	% for date, num in daily_num.items():
	<tr><td>{{ date }}</td><td align='right'>{{ num }}<br></td></tr>
	% end
	</table>

	</div>
	</div>
	</div>

	</body>
</html>
