<html>
	<head>
		<meta charset='UTF-8' />
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<title>virus</title>
	</head>

	<body>

	<div class='container'>
	<h3>感染者数</h3>

	<ul>
		<li><a href="graph">グラフ</a>
		<li><a href="input">入力</a>
		<li><a href="update">更新</a>
	</ul>

	最新データ
    <table class='table-sm table-hover table-bordered'>
	<tr>
	<th>日</th>
	<th>人数</th>
	</tr>
	% for date, num in daily_num.items():
	<tr><td>{{ date }}</td><td align='right'>{{ num }}<br></td></tr>
	% end
	</table>

	</div>

	</body>
</html>
